main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: minmax(170px, auto) 1fr 2fr;
    width: 500pt; 
    height: 550pt;
    border: solid black 1pt;
    margin: auto;
    grid-column-gap: 3pt;
    grid-row-gap: 5pt;
    justify-content: space-evenly;
    font-family: Times New Roman, Ariel, cursive;
    font-size: 13px;
}

.our-grid-item {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -10pt;
    color: red;
}

h1 {color: Blue;
    text-align: left;
    font-size: 45px;
}

h2 {margin-top: -20px;}

p { font-style: bold;}

img {
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/2; 
    margin: auto;  
    padding-top: 5pt;
}

    .leftcolumn
{background-color: pink;
    color: red;
    border-radius: 25px;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    padding-top: 1px;
    margin-top: 12pt;
    margin-left: 2pt;
    font-size: 10px;

}

.rightcolumn
{background-color: cornsilk;
border-radius: 25px;
    grid-column: 2/3;
    grid-row: 2/3;
    width: auto;
    margin: 3pt;
    text-align: left;
    padding-top: 5pt;
    padding-left: 5pt;
    margin-top: 10pt;
}

element {
line-height: 1;
}